.footer-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
    flex-wrap:wrap;
    color: rgb(0, 0, 0);
    padding-top: 68px;
}

.footer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.footer-cont-1{
    width:40% ;
}

.footer-text-cont{
    width: 100%;
    padding: 1rem 0rem;
}

.footer-cont-2{
    width:20% ;
}

.footer-head{
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.footer-item{
    font-size: 20px;
    text-align: center;
    padding: 1rem;
    font-weight: 500;
}

.footer-last{
    width: 100%;
    padding: 1rem;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 28px;
}


@media (max-width: 900px) {
    .footer-cont-1{
        padding: 0rem 1rem;
    }
    .footer-head{
        font-size: 20px;
        text-align: center;
    }
    
    .footer-item{
        font-size: 16px;
        padding: 0.5rem;
    }
}

@media (max-width: 750px) {
    .footer{
        justify-content: space-between;
    }
    .footer-cont-1{
        width: 100%;
    }

    .footer-logo{
        width: 50%;
    }

    .footer-cont-2{
        width: 30%;
        padding-top: 0.5rem;
    }
    .footer-head{
        font-size: 14px;
        text-align: center;
    }
    
    .footer-item{
        font-size: 12px;
        padding: 0.5rem;
    }

    .footer-last{
        font-size: 12px;
    }
}